<div class="columns is-centered has-text-centered">
  <div class="column is-full-mobile is-one-third">
    <div class="field is-horizontal is-fullwidth">
      <div class="field-label is-normal">
        <label class="label">Откуда</label>
      </div>
      <div class="field-body">
        <div class="control is-expanded">
          <div class="select is-fullwidth is-primary is-medium">
            <select [(ngModel)]="route.departurePoint.id" name="departurePoint">
              <option *ngFor="let point of points" value="{{point.id}}">{{point.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered has-text-centered">
  <div class="column is-full-mobile is-one-third">
    <div class="field is-horizontal is-fullwidth">
      <div class="field-label is-normal">
        <label class="label">Куда</label>
      </div>
      <div class="field-body">
        <div class="control is-expanded">
          <div class="select is-fullwidth is-primary is-medium">
            <select [(ngModel)]="route.arrivalPoint.id" name="arrivalPoint">
              <option *ngFor="let point of points" value="{{point.id}}">{{point.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered has-text-centered">
  <div class="field is-horizontal column is-full-mobile is-one-third">
    <div class="field-label is-normal">
      <label class="label">Когда</label>
    </div>
    <div class="field-body">
      <div class="control is-expanded">
        <input [(ngModel)]="route.departureDate" name="date" type="date" class="input is-primary is-medium"/>
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered has-text-centered">
  <div class="control is-horizontal column is-full-mobile is-one-third">
    <button type="submit"
            class="button is-primary is-medium is-fullwidth" (click)="getRoutes()"><p>Найти</p>
    </button>
  </div>
</div>


<div class="columns is-centered">
  <div class="column is-full-mobile is-two-thirds">
    <div class="columns is-centered">
      <div *ngFor="let route of selectedRoutes" class="box column is-one-quarter is-full-mobile has-text-centered">
        <p class="title">{{route.departureTime[0]}}:{{route.departureTime[1]}}</p>
        <button type="submit" class="button is-primary" (click)="book(route)">Выбрать</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show" class="columns is-centered has-text-centered">
  <div class="column is-full-mobile is-one-third">
    <div class="field is-horizontal is-fullwidth">
      <div class="field-label is-normal">
        <label class="label">Фамилия</label>
      </div>
      <div class="field-body">
        <div class="control is-expanded">
          <div class="is-fullwidth is-primary is-medium">
            <input class="input is-medium is-fullwidth" [(ngModel)]="user.surname">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show" class="columns is-centered has-text-centered">
  <div class="column is-full-mobile is-one-third">
    <div class="field is-horizontal is-fullwidth">
      <div class="field-label is-normal">
        <label class="label">Имя</label>
      </div>
      <div class="field-body">
        <div class="control is-expanded">
          <div class="is-fullwidth is-primary is-medium">
            <input class="input is-medium is-fullwidth" [(ngModel)]="user.name">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show" class="columns is-centered has-text-centered">
  <div class="column is-full-mobile is-one-third">
    <div class="field is-horizontal is-fullwidth">
      <div class="field-label is-normal">
        <label class="label">Отчество</label>
      </div>
      <div class="field-body">
        <div class="control is-expanded">
          <div class="is-fullwidth is-primary is-medium">
            <input class="input is-medium is-fullwidth" [(ngModel)]="user.patronymic">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show" class="columns is-centered has-text-centered">
  <div class="column is-full-mobile is-one-third">
    <div class="field is-horizontal is-fullwidth">
      <div class="field-label is-normal">
        <label class="label">Номер телефона</label>
      </div>
      <div class="field-body">
        <div class="control is-expanded">
          <div class="is-fullwidth is-primary is-medium">
            <input class="input is-medium is-fullwidth" [(ngModel)]="user.phone">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show" class="columns is-centered has-text-centered">
  <div class="column is-full-mobile is-one-third">
    <div class="field is-horizontal is-fullwidth">
      <div class="field-label is-normal">
        <label class="label">Серия и номер паспорта</label>
      </div>
      <div class="field-body">
        <div class="control is-expanded">
          <div class="is-fullwidth is-primary is-medium">
            <input class="input is-medium is-fullwidth" [(ngModel)]="user.passportNumber">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show" class="columns is-centered has-text-centered">
  <div class="control is-horizontal column is-full-mobile is-one-third">
    <button type="submit"
            class="button is-primary is-medium is-fullwidth" (click)="addPassenger()"><p>Забронировать</p>
    </button>
  </div>
</div>

<div *ngIf="show" class="columns is-centered has-text-centered">
  <div *ngIf="booked" class="control is-horizontal column is-full-mobile is-one-third has-text-centered">
    <h2 class="card-header">Место забронировано!</h2>
  </div>

</div>
